<h1>New Entry for <%= @place["name"] %> </h1>

<form action="/entries" method="post">
  <p>
    <label for="Title">Title</label>
    <input type="text" name="title" id="title">
  </p>

  <p>
    <label for="Date">Date</label>
    <input type="date" name="occurred_on" id="occurred_on">
  </p>

  <p>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </p>

  <p>
    <label for="place_id">Place</label>
    <input type="hidden" name="place_id" id="place_id" value="<%= @place["id"] %>">
  </p>
  <button>Submit</button>
</form>